<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tour.title %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @tour.teaser %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <iframe src="<%= @tour.url %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
